.box{
	width: 1000px;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	top: 30px;
	margin: 0 auto;

}
.covers{
	width:100%;
	height:450px;
	position:relative;
	left:0;
}
.side img{
	float: left;
	padding: 50px;
	margin-right: 80px;
}
.box h2{
	font-size: 24px;
	padding: 30px;
}
.box p{
	font-size: 16px;
	padding: 5px;
}
.title_coloumn{
	text-align:center;
	border-bottom:1px solid #e0e0e0;
	padding-bottom:20px;
	margin:10px 0 50px 0;
	position: relative;
	width: 100%
}
.title_coloumn_line{
	width:100%;
	border-bottom:1px solid #f6f6f6;
	position:absolute;
	left:0;
	bottom:-2px;
}
.title_img{
	position:absolute;
	left:50%;
	margin-left:-10px;
	top:-6px;
}
.title_coloumn .cn , .title_coloumn .en{
	display:block;
	color:#777;
}
.title_coloumn .cn{
	font-size:30px;
	line-height:50px;
}
.blog{
	position: relative;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	padding: 20px;
	width: 1000px;
	margin: 0 auto;
	box-shadow: -2px 0 2px #dfdfdf, 0 -2px 2px #dfdfdf, 0 2px 2px #dfdfdf, 2px 0 2px #dfdfdf;
	min-height: 5px;
	height: 300px;
}
.blog{
	margin-bottom: 20px;
}
 .blog p a{
	font-size: 28px;
	color: #456456;
	font-family: inherit;
	font-weight: 800;
	line-height: 50px;
	letter-spacing: 5px;
}
.title{
	width:100%;
	border-bottom:1px solid #f6f6f6;
	padding: 0 50px;
}
.blog .artile p{
	font-size: 18px;
	text-indent: 2em;
	line-height: 40px;
	padding:20px 50px;
	/*word-wrap:break-word;*/
	overflow: hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
 	-webkit-text-overflow: ellipsis; 
	-moz-text-overflow: ellipsis; 
	height: 200px;
}

